@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
body{
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
  width: 1100px;
  margin: 0 auto;
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* 
 navbar starts here
*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 1000px;
    margin: 0 auto;
   
    /* background-color: #e5d6d6; */
}

.red{
    color: orange;

}

.home-bg{
    background-color: orange;
    padding: 10px 13px;
    border-radius: 10px;
}

.nav-links{
    display: flex;
    column-gap: 30px;
    
}

.bold{
    font-weight: 700px;
    font-size: 30px;
}

nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}



.menu-btn span{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}
.menu-btn{
    display: none;
    flex-direction: column;
    margin: 0px 0;
}

@media screen and (max-width:576px) {
  header{
    width: 100%;
  }
    .navbar{
        box-sizing: border-box;
       
        width: 100%;
        padding: 5px;
        margin: 0;
    }
    .menu-btn{
        display: flex;
        margin: 0;
        padding: 0px 5px;
    }

    .nav-links{
        display: none;
    }
    
}

/* 
 navbar ends here
*/

/* 
 banner section starts here.
*/

.style-font{
    font-family: italianno;
    font-size: 50px;

}

.black-btn{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 12px 15px;
    border-radius: 12px;

}

.primary-btn{
    background-color: orange;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
}
.dark-3{
    color: rgba(255,255,255,0.4);
    font-size: 20px;
    font-weight: 500px;
}

.banner-img{
   
    width: 50%;
    position: relative;
    margin: 0 auto;
}

.banner-img div{
    text-align: center;
}

.banner-text{
    width: 50%;
}

.card-1{
   background-color: rgba(255,255,255,0.1);
   
   width: 30%;
   position: absolute;
   top: 0px;
   right: 40px;
   border-radius: 5px;
}

.banner{
   
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
   
    
}

.banner h2{
  font-size: 35px;
  font-weight: 700px;
  margin: 0;
}


.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}


.card-2{
    display: flex;
    background-color: rgba(255,255,255,0.1);
    align-items: center;
    
    width: 45%;
    gap: 20px;
    position: absolute;
    left: 0px;
    bottom: 30px;
    border-radius: 5px;
 }

 .banner-img img{
    width: 50%;
    height: 50%;
    text-align: center;
 }

 /* 
       responsive code here
 */

 @media screen and (max-width:576px) {
    
    .banner{
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        padding: 0px;
    }
    
    .banner-text{
        width: 100%;
    }

    .banner-img{
        width: 100%;
    }
 }



 /* 
 habit section starts here
 */

 .habit{
    width: 1000px;
    margin: 100px auto;
   
 }

 .habit-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    column-gap: 50px;
 }

 .habit-card img{
    border-radius: 50%;
 }

 .habit .div-1{
    width: 60%;
    margin: 0 auto;
    text-align:center ;
    margin-bottom: 60px;
 }

 /* 
   Responsiveness
 
 */

 @media screen and (max-width:576px) {
    .habit{
        box-sizing: border-box;
        width: 100%;
        border: 10px;
        display: flex;
        flex-direction: column;
    }

    

     .habit-card{
    
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
       
       
     }

     

     .habit .div-1{
        width: 100%;
      
     }

 }


 /*
   Running section starts here 
  */

  .running{
    background-color: rgba(34,34,34,0.2);
    display: flex;
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    gap: 10px;
  }

  .running-text{
    text-align: justify;
  }

  .running-image img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  /* 
    media query starts here
  */

  @media screen and (max-width:576px) {
    .running{
        width: 100%;
        flex-direction: column;
    }

    .running-text .primary-btn{
        width: 25%;
       margin-left:35% ;
    }
  }

  /* 
   optional section starts here
  
  */



  .optional{
    display: grid;
    width:1000px;
    height: 400px;
    grid-template-columns:repeat(7,1fr);
   
    margin: 0 auto;
    
  }

  .optional .class-1{
   
  grid-column: 1/3;
  grid-row: 1/2;
   background:linear-gradient( rgba(6, 255, 210, 0.5),rgba(6, 255, 210, .5)), url('./images/exercise1.jpg'); 

  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
   position: relative;
  }

  .optional .class-2{
    grid-column: 3/6;
    grid-row: 1/2;
    background:linear-gradient( rgba(255, 0, 0, 0.3),rgba(255,0,0,0.3)),url('./images/exercise2.png');
    background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  object-fit: contain;
  position: relative;
  }
  .optional .class-3{
    grid-column: 6/8;
    grid-row: 1/2;
    background:linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('./images/exercise3.png');
    background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  object-fit: contain;
  position: relative;
  }
  .optional .class-4{
    grid-column: 1/4;
    grid-row: 2/3;
    background:linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('./images/exercise4.png');
    background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  object-fit: contain;
  position: relative;
  }
  .optional .class-5{
    grid-column: 4/6;
    grid-row: 2/3;
    background:linear-gradient( rgba(66, 255, 0, 0.3),rgba(66, 255, 0, 0.3)),url('./images/exercise5.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  object-fit: contain;
  position: relative;
  }
  .optional .class-6{
    grid-column: 6/8;
    grid-row: 2/3;
    background:linear-gradient( rgba(0, 71, 255, 0.3),rgba(0, 71, 255, 0.3)),url('./images/exercise6.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  object-fit: contain;
  position: relative;
  }
  
  .optional-section{
    width: 1000px;
    margin: 100px auto;
  }

  .optional .class-3 .div-3{
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .optional .class-1 .div-1{
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .optional .class-2 .div-2{
    position: absolute;
    left: 20px;
   top: 20px;
  }
  .optional .div-4{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .optional .div-5{
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .optional .div-6{
    position: absolute;
    left: 20px;
    bottom: 20px;
  }



  @media screen and (max-width:576px) {
    .optional-section{
      width: 100%;
    }
    .optional{
      width: 100%;
      grid-template-columns: repeat(5,1fr);
     
    }

    .optional .class-4{
      grid-column:1/3 ;
    }
    .optional .class-5{
      grid-column:3/6 ;
    }
    .optional .class-1{
      grid-column:1/3 ;
    }
    .optional .class-2{
      grid-column:3/6 ;
      
    }

    .class-3 .div-3{
      display: none;
    }
    .class-6 .div-6{
      display: none;
    }
  }
  

  /* 
    BMI section starts here
  */

  


  
  .bmi-calculator{
    display: flex;
    gap: 5%;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
   
   
  }

  .bmi-chart{
    width: 450px;
   
    text-align: center;
  }

  td, th{
    border:1px solid rgba(255,255,255,0.1);
    padding: 20px 0px;

  }

  table{
    /* box-sizing: border-box; */
    padding: 20px;
    
    border-collapse: collapse;
    color: rgba(255,255,255,0.4);
    width: 100%;
   
  }

  

  input, select{
    background: rgba(255,255,255,0.1);
    
    color: rgba(255,255,255,0.4);
    text-align: justify;
    padding: 12px 0px 12px 20px;
    margin: 2px 10px 2px 0;
    border: none;
    border-radius: 10px;
     
  }

  select{
    appearance: none;
    -webkit-appearance: none;
    background:rgba(255,255,255,0.1)  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>') no-repeat right 20px center;
    background-size: 20px;
    color: darkgray;
  }

  .calculator{
    width: 100%;
  }

  .inputs{
    width: 50%;
    display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 20px;
  }

  .calculate-btn{
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-size: 25px;
    background-color: rgb(230, 83, 60);
    border: none;
  }

  /* select{
    font-size: 20px;
    padding: 12px 160px 12px 12px;
  
    margin: 2px 10px 2px 0;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    border: none;
    color: rgba(255,255,255,0.4);
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  } */

  #bottom{
    background: rgba(255,255,255,0.1);
    margin: 2px 10px 2px 0;
    color: rgba(255,255,255,0.4);
    text-align: justify;
    
    width: 85%;
    appearance: none;
    -webkit-appearance: none;
    background:rgba(255,255,255,0.1)  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>') no-repeat right 20px center;
    background-size: 20px;
     
  }

  .hide{
    display: none;
  }

  @media screen and (max-width:576px) {
    .bmi-calculator{
      width: 100%;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }

    .bmi-chart{
      width: 100%;
    }


    .inputs{
      
       grid-template-columns: repeat(1,1fr);
       width: 100%;
    
      
  }

  #bottom{
    width: 98%;
  }

  .calculate-btn{
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
  }

}

/* meet section starts here */

.meet-section{
  width: 1000px;
  margin: 0 auto;

}

.trainer-images{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  
}

.div-{
  height: 200px;
  border: 1px solid gray;
  
}

.trainer-images .div-1{
  background-image: url('./images/trainer1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* object-fit: cover; */
  position: relative;
  
}
 .trainer-images .div-2{
  background-image: url('./images/trainer2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  position: relative;
}
 .trainer-images .div-3{
  background-image: url('./images/trainer3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  position: relative;
}
.trainer-images .div-4{
  background-image: url('./images/trainer4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  position: relative;
}
.trainer-images .div-5{
  background-image: url('./images/trainer5.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  position: relative;
}
.trainer-images .div-6{
  background-image: url('./images/trainer6.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  position: relative;
}

.txt{
  position: absolute;
  bottom: 0px;
  left: 10px;
}

.meet-text{
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width:576px) {

  .meet-section{
    box-sizing: border-box;
    width: 100%;
  }
  .trainer-images{
    grid-template-columns: repeat(1,1fr);
  }
}


.footer-section{
  width: 1000px;
  margin: 0 auto;
}

.footer-section-container{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  margin-top: 50px; 
}

.footer-section .div-1{
  width: 40%;
  text-align: justify;
}

.footer-section .div-2{
  width: 30%;
}

.footer-section .div-2  p, .div-3 p{
   
  color: rgba(255,255,255,0.4);
  font-size: 20px;
}

@media screen and (max-width:576px) {
  .footer-section{
    width: 100%;
  }
  .footer-section-container{
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
  }

  .footer-section .div-2, .div-3{
    width: 100%;
    text-align: center;
  }

  .footer-section .div-1{
    width: 100%;
  }
}

.inspiration{
  width: 1000px;
  margin: 0 auto;
}

.inspiration-content{
 text-align: center;
  width: 800px;
  margin: 100px auto;
 
}

@media screen and (max-width:576px) {
  .inspiration{
    width: 100%;
  }
  .inspiration-content{
    width: 100%;
  }

  .inspiration-content .video{
    
    width: 100%;
    margin: 0;
  }
}